* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: beige;
}
#main {
    width: 550px;
    min-height: 100vh;
    margin: 0 auto;
}
#posts-list {
    padding: 2rem 0;
}
.post {
    font-size: 16px;
    border: 2px solid #cdc3cf;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
}
.post__author {
    font-size: 18px;
}
.post p {
    margin: 0 0 1rem 0;
}
.post__picture {
    width: calc(546px - 2rem);
    margin-bottom: 1rem;
}
.post__comments {
    margin: 0 0 1rem 0;
}
.add-comment {
    padding: 0 40px;
}
.add-comment input{
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid black;
}
.add-comment__text {
    width: 100%;
    margin-bottom: 0.5rem;
}
.add-comment__button {
    padding: 0.5rem;
    background-color: #cdc3cf;
    border: 1px solid black;
    border-radius: 5px;
}

.comments {
    border-top: 1px solid #ccc;
    list-style: none;
}

.comments__comment {
    margin-top: 0.5rem;
}